# build files
build/

# stats
stats/

# tool files
*.egg-info/

# ROMs
*.gb
*.gbc

# user media
*.lsdfnt
*.lsdpal
*.kit
*.png

# save
*.sav

# hex files
*.hex

# visual studio
*.exe
*.ilk
*.obj
*.pdb
*.sln
*.suo

# macOS
*.DS_Store
